<footer class="jumbotron">
    <div class="text-center text-white">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-8 mt-2">
                    <p>
                        «Hay tres maneras de hacer las cosas: la correcta, la incorrecta y la mía». Casino (1995)  
                    </p>
                    <p>
                        «Siempre se llega a alguna parte si se camina lo bastante». Alicia en el país de las maravillas (2010)
                    </p>
                    <p>
                        «"Estás seguro en tu pequeño mundo, pero si no sales de el, nunca sabrás lo que el gran mundo exterior tiene para ofrecer."». La vida secreta de Walter Mitty (2013)
                    </p>
                </div>
            </div>
            <div class="text-center mb-2">
                <a href="" class="text-white me-4">
                    <i class="fa fa-facebook-f"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fa fa-google"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
