<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button (click)="opened=!opened" id="menu"><mat-icon>menu</mat-icon></button>
        <button mat-button id="home" routerLink="/inicio"><mat-icon>theaters</mat-icon>Creepy Chronicles</button>
        <button *ngIf="!userLoginOn" mat-button id="iniciar" routerLink="/iniciar-sesion"><mat-icon>account_box</mat-icon> Iniciar Sesion</button>
        <button *ngIf="userLoginOn" mat-button (click)="logout()" id="cerrar" routerLink="/inicio"><mat-icon>account_box</mat-icon> Cerrar Sesion</button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">
        <mat-list>
            <mat-list-item><mat-icon> table_chart</mat-icon><a routerLink="lista-multimedias" style="text-decoration: none;">Lista Peliculas</a></mat-list-item>
            <mat-list-item><mat-icon>library_books</mat-icon><a routerLink="registrar-multimedia" style="text-decoration: none;">Registrar Pelicula</a></mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>