<body>
    <div class="wrapper">
        <form [formGroup]="loginForm">
            <p class="text-danger">{{loginError}}</p>
            <h1>Login</h1>

            <div class="input-box">
                <input type="email" placeholder="Email" formControlName="username" class="form-control" required>
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                  <div *ngIf="email.errors?.['required']">
                    El email es requerido.
                  </div>
                  <div *ngIf="email.errors?.['email']">
                    El email tiene que tener un formato valido.
                  </div>
                </div>
                <i class='bx bxs-user'></i>
            </div>

            <div class="input-box">
                <input type="password" placeholder="Password" formControlName="password" class="form-control" required>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                  <div *ngIf="password.errors?.['required']">
                    El password es requerido.
                  </div>
                </div>
                <i class='bx bxs-lock-alt' ></i>
            </div>
    
            <button type="submit" (click)="login()" class="btn btn-primary">Login</button>
    
            <div class="register-link">
                <p>Don't have a account? <a href="#">Register</a></p>
            </div>
        </form>
    </div>
</body>