<body>
    <div class="wrapper">
        <form [formGroup]="registerForm">
            <p class="text-danger">{{registerError}}</p>
            <h1>Registro</h1>

            <div class="input-box">
                <input type="email" placeholder="Email" formControlName="username" class="form-control" required>
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                  <div *ngIf="email.errors?.['required']">
                    El email es requerido.
                  </div>
                  <div *ngIf="email.errors?.['email']">
                    El email tiene que tener un formato valido.
                  </div>
                </div>
            </div>

            <div class="input-box">
                <input type="password" placeholder="Password" formControlName="password" class="form-control" required>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                  <div *ngIf="password.errors?.['required']">
                    El password es requerido.
                  </div>
                </div>
            </div>

            <div class="input-box">
                <input type="text" placeholder="Firstname" formControlName="firstname" class="form-control" required>
                <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="text-danger">
                  <div *ngIf="firstname.errors?.['required']">
                    El firstname es requerido.
                  </div>
                </div>
            </div>

            <div class="input-box">
                <input type="text" placeholder="Lastname" formControlName="lastname" class="form-control" required>
                <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="text-danger">
                  <div *ngIf="lastname.errors?.['required']">
                    El lastname es requerido.
                  </div>
                </div>
            </div>

            <div class="input-box">
                <input type="text" placeholder="Country" formControlName="country" class="form-control" required>
                <div *ngIf="country.invalid && (country.dirty || country.touched)" class="text-danger">
                  <div *ngIf="country.errors?.['required']">
                    El country es requerido.
                  </div>
                </div>
            </div>

            <button type="submit" (click)="registro()" class="btn btn-primary">Aceptar</button>
    
            <div class="register-link">
                <p>Do you have a account? <a href="iniciar-sesion">Login</a></p>
            </div>
        </form>
    </div>
</body>